@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: 5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-color);
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    /* text-decoration: none; */
}

.header .header-1 .logo i{
    color: var(--green);
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border); 
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
    /* text-decoration: none; */
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background: var(--green);
}

.header .header-2 .navbar{
    text-align: center;
    /* text-decoration: none; */
}

.header .header-2 .navbar a{
   color: #fff;
   display: inline-block;
   padding: 1.2rem;
   font-size: 1.7rem;
   /* text-decoration: none; */
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.header .header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

.home{
    background: url(image/study\ background2.jpg) no-repeat;  /* ../image/main\ book.png  */
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .content .btn{
    color: #fff;
    background-color: #219150;
    padding: 1rem;
}

.home .row .books-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 5rem;
}

.home .row .books-slider a img{
    height: 400px;
    width: 790px;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width: 100%;
    margin-top: -30rem;
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.icons-container{
    margin: 5rem auto;
}

.featured{
     width: 100%;
     height: 100vh;
     /* padding: 0 70px; */
     /* margin-top: 10rem 0; */
}

.featured .featured-slider{
     width: 100%;
     height: 70vh;
     margin: 80px auto;
     display: grid;
     /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
     overflow: hidden;
     overflow-x: scroll;
     /* display: flex; */
     /* flex-direction: row; */
     /* justify-content: space-between; */
     /* gap: 50rem;  */
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     /* padding: 10rem; */
     border-radius: 12px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 15px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-button{
    background-color: #219150;
    background-size: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-button:hover{
    background-color: darkgreen;
}

::-webkit-scrollbar-track-piece{
    background-color: aquamarine;
    border-radius: 10px;
    border: 1px solid var(--green);
}

/* .featured .featured-slider .slider{
    width: 350px;
    height: 420px;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
    margin: auto 20px;
} */

.slider-container {
    display: flex;
    transition: transform 5s ease; /* Enable smooth transition */
    /* margin-top: 15rem; */
}

.slide {
    min-width: 14.5%;
    box-sizing: border-box; 
    margin: 1% !important;
}

.slide img {
    width: 50%;
    border-radius: 8px;
}

/* .controls {
    position: absolute;
    top: 160%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-90%);
}

.control-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
} */

.featured-slider .slider .box{
    flex: 1; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.featured .featured-slider .slide{
    width: 5rem;
    margin: 2rem 0;
    /* padding: 3rem; */
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .slide:hover{
    border: var(--border-hover);
}

.featured .featured-slider .slide .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .slide:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .slide .image img{
    height: 20rem;
}

.featured .featured-slider .slide .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .slide .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .slide:hover .icons{
    transform: translateY(0%);
    height: 4.9rem;
}

.featured .featured-slider .slide .icons a:hover{
    background: var(--green);
    color: #fff;
}

.featured .featured-slider .slide .content{
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .slide .content h3{
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .slide .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1.8rem;
}

.featured .featured-slider .slide .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

/* .swiper-button-next,
.swiper-button-prev{
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color: #fff;
} */

.newsletter{
    background: url(image/study\ background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* ../image/letter-bg.jpg */
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 90%;
    margin: .7rem 0;
    padding: 1rem 50rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 35px;
}

.arrivals .arrivals-slider{
    width: 100%;
    margin: 7rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    box-shadow: 0 0 5px #27ae60;
}

.arrivals .arrivals-slider .box .image img{
    height:15rem ;
}

.arrivals .arrivals-slider .box:hover .image img{
    transform: scale(1.1);
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color: var(--green);
}

.reviews{
    width: 100%;
    height: 100vh;
}

.reviews .reviews-slider{
    width: 95%;
    margin: 15rem auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .reviews-slider .box{
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.reviews .reviews-slider .box:hover{
    border: var(--border-hover);
}

.reviews .reviews-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: 5rem 0;
}

.reviews .reviews-slider .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .starts i{
    font-size: 1.7rem;
    color: var(--green);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width: 100%;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span{
    color: var(--green);
}

.loader-container{
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height: 10rem;
}




/* media queries */

@media (max-width:991px){

    html{
      font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }
    
}

section{
    padding: 3rem 2rem;
}

@media (max-width:768px){

   html{
    scroll-padding-top: 0;
   }

   body{
      padding-bottom: 6rem;
   }

    .header .header-2{
    display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

}

.home .row .content{
    text-align: center;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color: var(--light-color);
}

.home .row .content h3{
    font-size: 3.5rem;
}

.newsletter{
    background-position: right;
}

.newsletter form{
    margin-left: 0;
    max-width: 100%;
}

@media (max-width:450px){

    html{
      font-size: 50%;
    }

    .header .header-1{
        padding: 2rem;
    }
    
}